


/*------------------------------------colours*/

.bg-color-title{
    color: #C5CAF6;
    background-color: #F7E431;
    
}

.logo{
    height: 300px;
    width: 300px;
   background-color: #9b59b6;
}