


/*------------------------------------colours*/

.bg-color-title{
    color: #C5CAF6;
    background-color: #F7E431;
    height: 300px;
}

.logo { 
    background: url("../images/beachboys-logo-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.main-section-column{
   background-color: #676767;
   
}



header{
    margin: 0;
    background-color: #F7E431;
}

footer{
    background-color: #D7FAAA;
    height: 300px;
}